<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FrontEnd.Properties.FrontEndSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="FrontEnd.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <FrontEnd.Properties.FrontEndSettings>
            <setting name="EmailUserName" serializeAs="String">
                <value>salvatoreamaddio94@gmail.com</value>
            </setting>
            <setting name="ReportDefaultDirectory" serializeAs="String">
                <value />
            </setting>
        </FrontEnd.Properties.FrontEndSettings>
        <FrontEnd.Properties.Settings>
            <setting name="EmailUserName" serializeAs="String">
                <value>salvatoreamaddio94@gmail.com</value>
            </setting>
        </FrontEnd.Properties.Settings>
    </userSettings>
</configuration>